.player-info {
  position: absolute;
  top: 0;
  text-shadow: 2px 2px 2px black;

  &--left {
    left: 0;
    color: red;
    font-size: 2rem;
    font-family: monospace;
    z-index: 1000;
  }
  &--right {
    right: 0;
    color: red;
    font-size: 2rem;
    font-family: monospace;
    z-index: 1000;
  }

  &__score {

  }
  &__lives {
    display: flex;
    align-items: center;
    &--text {
      margin-right: 1rem;
    }
  }
}
