.player-info {
  position: absolute;
  top: 0;
  text-shadow: 2px 2px 2px black;

  &--left {
    left: 0;
    color: red;
    font-size: 1.6rem;
    font-family: monospace;
    z-index: 1000;
  }
  &--right {
    right: 0;
    color: red;
    font-size: 2rem;
    font-family: monospace;
    z-index: 1000;
  }

  &__name {
    transform: scale(1.1, .9);
    margin-left: 2rem;
  }
  &__score {
    transform: scale(1.1, .9);
    margin-left: 2rem;

  }
  &__lives {
    display: flex;
    align-items: center;
  }
}
