.game {
  margin: 0 auto;
  position: relative;
  border: 1px solid #eee;
  background-color: transparent;
  z-index: 1;

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80rem;
  }
}
.bullets {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
}
.environment {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( 0deg, #73adc6, #0884ce);
  z-index: 3;

  &__image {
    width: 760px;
    height: 1004px;
  }

}
