.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 80rem;
  border: 1px solid #eee;

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80rem;
  }
}
.bullets {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 50px);
  width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: calc(100vh - 50px);
  width: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #04070c;
  // background-color: #000200;

  &__image {
    width: 80rem;
  }

}
