.container {
  display: flex;
  width: 100vw;
}
.game {
  position: relative;
  border: 1px solid #eee;
}
.info {
  // text-align: center;
  width: 50%;
  margin-left: 3rem;

  &__section {
    margin-bottom: 2rem;
    max-width: 50%;
  }

  &__title {
    // max
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #73adc6, #0884ce);
  z-index: 3;

  &__image {
    width: 760px;
    height: 1004px;
  }
}
